.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p{
justify-content: space-around;
}

.name{
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0 0 0;
  justify-content: space-around;
  /* align-items: center; */
}

.footer a:hover {
  color: #0070f3;
  text-decoration: none;
}

@media (max-width: 600px) {
  .main{
    min-height: 65vh;
  }

  .footer {
    width: 100%;
    flex-direction: column;
  }

  .footer a {
    padding: 0.5rem;
  }
}
